
# JMeter result files
jmeter/
jmeter.log

# Executable files
tg
tg.exe
dist/
cover.out
coverage.html


# Environment files
.env

# DB files
*.db
*.db-shm
*.db-wal

# Node.js dependencies
webapp/node_modules/
